.container {
    top: 50px;
    color: white;
    width: 90%;
    bottom: 100;
    position: fixed;
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: 20px;
    height: 60px;
    border-radius: 100px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    margin: auto;
    z-index: 100;
    padding: 0px 40px;
    border: 1px solid rgba(255, 255, 255, 0.589);
    transition: 0.4s ease;
}




.logo {
    font-size: 25px;
}

.image {
    margin-top: 15px;
    width: 80px;
    height: auto;
}

.hlinks {
    display: flex;
}

.hlinks a {
    margin: 15px;
}


.localCon img {
    width: 30px;
    height: 30px;
    color: antiquewhite;
}

.opContainer {
    display: flex;
    align-items: center;
}


.opContainer>div {
    margin: 0px 15px;
}




.wrapperChange {
    position: relative;
    border-radius: 5px;
    width: 100px;
    background-color: #610c1ac4;
    justify-content: space-between;
    display: flex;
    padding: 4px 8px;
}





.authIcon {
    display: flex;
    align-items: center;
    color: white;
    width: 25px;
    height: 25px;
}



@media (max-width: 650px) {


    .container {
        position: absolute;
        padding: 0px 25px;
        display: flex;
        height: 55px;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }


    .authIcon {
        display: none;
    }

    .hlinks {
        z-index: 3;
        background-color: #7b1022;
        height: 100vh;
        width: 100%;
        display: none;
        position: absolute;
    }

    .hlinks a {
        display: block;
        background-color: #7b1022;
        margin: 15px;
    }

    .opContainer {
        display: block;
        align-items: center;
    }


    .image {
        margin-top: 10px;
        width: 65px;
        height: auto;
    }
}