.bottomNavabarContainer {
    display: none;
}

@media (max-width: 650px) {
    .bottomNavabarContainer {
        display: flex;
        position: fixed;
        width: 90%;
        height: 60px;
        align-items: center;
        justify-content: space-around;
        left: 50%;
        margin-bottom: 20px;
        bottom: 0;
        transform: translateX(-50%);
        transition: transform 0.3s ease-in-out;
        border-radius: 12px;
        overflow: hidden;
        z-index: 2;
        padding: 5px 10px;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.589);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .bottomNavabarContainer.hidden {
        transform: translateX(-50%) translateY(160%);
    }

    .bottomNavabarContainer span {
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: center;
    }

    .bottomNavabarContainer p {
        font-size: 13px;
        display: none;
        color: rgb(106, 106, 106);
    }

    .icon {
        color: rgb(106, 106, 106);
        width: 20px;
    }

    .link.active {
        background-color: rgba(255, 255, 255, 0.164);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60%;
        padding: 20px 15px;
        transition: 1s;
        border-radius: 100px;
    }

    .link.active p {
        display: block;
        margin-left: 5px;
    }
}