.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.8em;
    background-color: var(--bg);

}

.cover {
    padding: 20px 80px 40px 80px;
}

.cover h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0px;
}

@media (max-width: 650px) {
    .cover {
        padding: 20px 40px 40px 40px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 1.8em;
    }
}