* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}



:root {
  --bg: white;
}

body.no-scroll {
  margin-top: 20px;
  transition: 0.5s ease;
  border-radius: 20px;
  border: black 5px;
  overflow: hidden;
}


a {
  color: white;
  color: inherit;
  text-decoration: none;
}


body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}



body::-webkit-scrollbar-thumb:hover {
  position: absolute;
  background-color: #610c1a;
}